body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-default: "Nunito Sans";
  --font-bulletto-killa: "Bulletto Killa¬";

  /* font sizes */
  --footer-header-size: 18px;
  --body-default-size: 16px;
  --font-size-20xl-9: 39.9px;
  --body-extra-small-size: 12px;
  --font-size-77xl: 96px;
  --header-h3-size: 24px;

  /* Colors */
  --true-white: #fff;
  --grey-400: #7c8db0;
  --color-slategray: #6e7491;
  --color-coral: #ff7f37;
  --grey-200: #cbd4e6;
  --red: #eb5757;
  --grey-100: #fafafa;
  --grey-900: #27273f;
  --grey-2: rgba(82, 82, 122, 0.2);
  --purple-white: #f6f6fe;
  --purple-blue: #605dec;

  /* Gaps */
  --gap-mid: 17px;
  --gap-xl: 20px;
  --gap-xs: 12px;
  --gap-5xs: 8px;
  --gap-29xl: 48px;
  --gap-9xs: 4px;
  --gap-base: 16px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-base: 16px;
  --padding-xs: 12px;
  --padding-101xl: 120px;
  --padding-5xs: 8px;
  --padding-41xl: 60px;
  --padding-5xl: 24px;
  --padding-9xs: 4px;
  --padding-141xl: 160px;
  --padding-xl: 20px;
  --padding-11xs: 2px;
  --padding-3xs: 10px;

  /* border radiuses */
  --br-9xs: 4px;
  --br-11xs: 2px;

  /* Effects */
  --elevation-medium: 0px 2px 4px rgba(7, 4, 146, 0.1),
    0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
}
