.gofly {
  line-height: 37.42px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 142.34px;
  height: 60px;
  flex-shrink: 0;
}
.gofly,
.label {
  position: relative;
}
.nav-list-item {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: flex-start;
}
.label1 {
  position: relative;
  font-size: var(--body-default-size);
  font-family: var(--body-default);
  color: var(--red);
  text-align: center;
}
.nav-list-item1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.label2 {
  position: relative;
  font-size: var(--body-default-size);
  font-family: var(--body-default);
  color: var(--grey-100);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-xl);
  background-color: var(--red);
  border-radius: var(--br-9xs);
  height: 48px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.header-avatar {
  position: relative;
  width: 40px;
  height: 40px;
  display: none;
}
.nav-navigation-menu {
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-base);
  font-size: var(--body-default-size);
  color: var(--red);
  font-family: var(--body-default);
}
.header-not-sign-in {
  background-color: var(--true-white);
  width: 1440px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.discover-the-world {
  margin: 0;
}
.discover-the-world-container {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 90px;
  font-weight: 800;
}
.hero1 {
  position: relative;
  width: 1084px;
  height: 180px;
}
.hero-wrapper,
.text-input {
  display: flex;
  justify-content: flex-start;
}
.hero-wrapper {
  width: 1104px;
  height: 200px;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
}
.text-input {
  border: 0;
  font-family: var(--body-default);
  font-size: var(--footer-header-size);
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.divider {
  align-self: stretch;
  position: relative;
  background-color: var(--grey-200);
  width: 1px;
}
.calendar-with-dates {
  position: relative;
  border-radius: var(--br-9xs);
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.label3 {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
}
.base-text-input,
.eye-show-visible {
  border-radius: var(--br-9xs);
  overflow: hidden;
}
.eye-show-visible {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  display: none;
}
.base-text-input {
  align-self: stretch;
  background-color: var(--true-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.helper-text,
.text-input2,
.text-input3 {
  align-items: center;
  justify-content: flex-start;
}
.helper-text {
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: none;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-9xs);
  font-size: var(--body-extra-small-size);
  color: var(--grey-400);
}
.text-input2,
.text-input3 {
  width: 252px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.text-input3 {
  width: 200px;
}
.flight-search,
.label5 {
  text-align: left;
  font-size: var(--footer-header-size);
}
.label5 {
  position: relative;
  font-family: var(--body-default);
  color: var(--grey-100);
}
.flight-search {
  border-radius: var(--br-9xs);
  background-color: var(--true-white);
  box-shadow: var(--elevation-medium);
  border: 1px solid var(--grey-200);
  box-sizing: border-box;
  width: 1202px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.hero,
.main-frame {
  display: flex;
  flex-direction: column;
}
.hero {
  width: 1440px;
  height: 700px;
  padding: var(--padding-5xs) 0 var(--padding-141xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-29xl);
  background-image: url(./public/hero@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-77xl);
  color: var(--red);
  font-family: var(--body-default);
}
.main-frame {
  align-items: flex-start;
  justify-content: flex-start;
}
.gofly1 {
  position: relative;
  font-size: 39.91px;
  line-height: 37.42px;
  font-family: var(--font-bulletto-killa);
  color: var(--color-coral);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 142.34px;
  height: 60px;
  flex-shrink: 0;
}
.footer-header {
  flex: 1;
  position: relative;
}
.footer-column-header {
  display: flex;
  font-size: var(--footer-header-size);
  color: var(--color-slategray);
}
.footer-column-header,
.footer-list-item,
.footer-list-item6 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-9xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-list-item {
  display: flex;
}
.footer-list-item6 {
  display: none;
}
.column-about,
.column-partner,
.footer-link-column {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-base) var(--padding-base) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.column-partner,
.footer-link-column {
  width: 220px;
}
.footer-link-column {
  width: 250px;
}
.link-app-store {
  position: relative;
  border-radius: var(--br-9xs);
  width: 135px;
  height: 40px;
}
.link-google-play1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.link-google-play {
  position: relative;
  width: 135px;
  height: 40px;
}
.column-mobile,
.footer-content {
  display: flex;
  align-items: flex-start;
}
.column-mobile {
  width: 200px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.footer-content {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-41xl) var(--padding-101xl) var(--padding-5xl);
  justify-content: space-between;
}
.footer-divider,
.twitter-icon {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.footer-divider {
  align-self: stretch;
  max-width: 100%;
  height: 1px;
}
.twitter-icon {
  width: 24px;
  height: 24px;
}
.instagram,
.union-icon {
  position: relative;
  width: 21.5px;
  height: 21.5px;
}
.instagram {
  text-decoration: none;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.bottom,
.social-media-stack {
  display: flex;
  flex-direction: row;
}
.social-media-stack {
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.bottom {
  align-self: stretch;
  height: 64px;
  padding: var(--padding-xs) var(--padding-101xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  text-align: right;
  font-size: var(--footer-header-size);
}
.body,
.desktop-footer,
.full-main-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.desktop-footer {
  align-self: stretch;
  background-color: var(--true-white);
  padding: var(--padding-base) 0;
  align-items: flex-start;
  gap: var(--gap-mid);
}
.body,
.full-main-page {
  align-items: center;
}
.body {
  align-self: stretch;
  text-align: left;
  font-size: var(--body-default-size);
  color: var(--grey-400);
  font-family: var(--body-default);
}
.full-main-page {
  position: relative;
  background-color: var(--true-white);
  width: 100%;
  height: 1341px;
  overflow: hidden;
  padding: 0 0 21.9998779296875px;
  box-sizing: border-box;
  text-align: center;
  font-size: 39.91px;
  color: var(--color-coral);
  font-family: var(--font-bulletto-killa);
}
